body{
  text-align:center;
  background-color:#393E46;

}
h1{
  margin-top:1rem;
  margin-bottom: 2rem;
  font-family:"Lobster",cursive;
  color: #4ECCA3;
  font-size:6rem;
  text-shadow: 8px 8px  #232931;
  position:relative;

}
h4{
  font-family:"Lobster",cursive;
  color: #4ECCA3;
  font-size:3.5rem;
  text-shadow: 8px 8px  #232931;
  margin-top:1rem;
  margin-bottom:50px;
}
.invisible{
  visibility: hidden;
}
.btn{
  display:block;
  margin:auto;
  width:300px;
  height:40px;
  background-color:#6fc2d0;
  font-family: "indie flower",cursive;
  font-size:1.5rem;
  font-weight: bold;
  border:3px solid black;
  box-shadow: 4px 4px  #232931;
  margin-top:5rem;
}
p{
  font-family: "indie flower",cursive;
  color: #4ECCA3;
  font-size:2rem;
}

footer{
  font-family: "indie flower",cursive;
  color:#ffffff;
  font-size:1.2rem;


}
img{
  width:50%;
}
.dice{
  margin:1rem 0 2rem 0;
  display:inline-block;

}
.red-flag{
  width:5.5rem;
  position:relative;
  top:5px;
}

.Asaf{
  text-decoration: underline;
}
